@import "./color";
@import "./entry-list";
@import "./entry-detail";
@import "./nav";
@import "./mixins/position";
.app() {
  @media (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    max-width: 960px;
    min-height: 480px;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
    &.is-menu {
      > .entry-list {
        width: 100%;
        color: @white;
      }
      > .entry-detail {
        left: 100%;
        color: @white2;
      }
    }
    > .entry-list {
      .entry-list();
    }
    > .entry-detail {
      .entry-detail();
    }
    > .nav:first-child {
      .position(absolute, 40%, auto, auto, 0);
      width: 100%;
      height: 20%;
      > .enter, > .menu {
        display: none;
      }
      > .next, .prev {
        width: 100%;
        height: 25%;
        background-color: transparent; // @white2;
        color: transparent;
        text-align: center;
        z-index: 8;
      }
      > .next {
        .position(absolute, auto, auto, -8px, auto);
        &:before {
          .position(absolute, -8px, auto, auto, auto);
          content: "";
          display: block;
          width: 100%;
          height: 8px;
          background-color: @white;
        }
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-color: @white transparent transparent transparent;
          position: absolute;
          top: 4px;
          left: 16px;
        }
      }
      > .prev {
        .position(absolute, -8px, auto, auto, auto);
        &:before {
          .position(absolute, auto, auto, -8px, auto);
          content: "";
          display: block;
          width: 100%;
          height: 8px;
          background-color: @white;
        }
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-color: transparent transparent @white transparent;
          position: absolute;
          bottom: 4px;
          left: 16px;
        }
      }
    }
    > .nav:last-child {
      .nav();
    }
  }
  @media (min-width: 768px) {
    width: 100vw;
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    display: flex;
    &.is-menu {
      > .entry-list {
        width: 80%;
        color: @white;
      }
      > .entry-detail {
        width: 20%;
        color: @white2;
      }
    }
    > .entry-list {
      .entry-list();
    }
    > .entry-detail {
      .entry-detail();
    }
    > .nav {
      .nav();
    }
  }
}
