@import "./color";
@import "./entry-list";
@import "./entry-detail";
@import "./nav";
@import "./mixins/position";
.app() {
  @media (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    max-width: 960px;
    min-height: 480px;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
    &.is-menu {
      > .entry-list {
        width: 100%;
        color: @white;
      }
      > .entry-detail {
        left: 100%;
        color: @white2;
      }
    }
    > .entry-list {
      .entry-list();
    }
    > .entry-detail {
      .entry-detail();
    }
    > .nav {
      display: none;
      .position(absolute, 40%, auto, auto, 0);
      width: 100%;
      height: 20%;
      &.is-menu {
        display: block;
      }
      > .enter, > .menu {
        display: none;
      }
      > .next, .prev {
        width: 100%;
        height: 25%;
        background-color: transparent; // @white2;
        color: transparent;
        text-align: center;
        z-index: 8;
      }
      > .next {
        .position(absolute, auto, auto, -8px, auto);
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-color: @white transparent transparent transparent;
          border-width: 8px 6px;
          position: absolute;
          top: 4px;
          left: 18px;
        }
        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-color: rgba(255, 255, 255, 0.3) transparent transparent transparent;
          border-width: 8px 6px;
          position: absolute;
          top: 6px;
          left: 18px;
        }
        &.is-disabled {
          display: none;
        }
      }
      > .prev {
        .position(absolute, -8px, auto, auto, auto);
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-color: transparent transparent @white transparent;
          border-width: 8px 6px;
          position: absolute;
          bottom: 4px;
          left: 18px;
        }
        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
          border-width: 8px 6px;
          position: absolute;
          bottom: 2px;
          left: 18px;
        }
        &.is-disabled {
          display: none;
        }
      }
    }
    >.nav:last-child {
      display: block;
      &.is-menu {
        display: none;
      }
      > .next {
        width: 44px;
        z-index: 24;
      }
      > .prev {
        width: 44px;
        z-index: 24;
      }
    }
  }
  @media (min-width: 768px) {
    width: 100vw;
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    display: flex;
    &.is-menu {
      > .entry-list {
        width: 80%;
        color: @white;
      }
      > .entry-detail {
        width: 20%;
        color: @white2;
      }
    }
    > .entry-list {
      .entry-list();
    }
    > .entry-detail {
      .entry-detail();
    }
    > .nav {
      .nav();
    }
  }
}
