@import "./color";
@import "./mixins/position";
@import "./mixins/user-select";
.nav() {
  @media (max-width: 767px) {
    @size: 44px;
    @width: (@size * 2);
    .user-select(none);
    .nav-button(@size: 44px) {
      box-sizing: border-box;
      cursor: pointer;
      font-size: (@size / 4);
      height: @size;
      line-height: @size;
      width: @size;
      z-index: 24;
      color: transparent;
    }
    > .enter {
      display: none;
    }
    > .menu {
      display: none;
    }
    > .next {
      .nav-button(@size);
      .position(absolute, auto, 0, @size, auto);
      margin-left: (@size / -2);
      &:after {
        .position(absolute, auto, 8px, 10px, auto);
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-color: @white transparent transparent transparent;
        border-width: 8px 6px;
      }
      &.is-disabled {
        display: none;
      }
    }
    > .prev {
      .nav-button(@size);
      .position(absolute, @size, 0, auto, auto);
      margin-left: (@size / -2);
      &:after {
        .position(absolute, 10px, 8px, auto, auto);
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-color: transparent transparent @white transparent;
        border-width: 8px 6px;
      }
      &.is-disabled {
        display: none;
      }
    }
  }
  @media (min-width: 768px) {
    @size: 44px;
    @width: (@size * 2);
    .user-select(none);
    .position(absolute, auto, auto, 4px, 4px);
    width: @width;
    height: 128px;
    .nav-button(@size: 44px) {
      text-align: center;
      line-height: @size;
      font-size: (@size / 4);
      width: @size;
      height: @size;
      cursor: pointer;
      color: @green;
      background-color: @white;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 24;
    }
    &.is-menu {
      > .enter {
        z-index: 24;
        opacity: 0.75;
        left: (@width - @size);
      }
      > .menu {
        z-index: 0;
        opacity: 0;
        left: (@width - @size);
      }
    }
    > .menu {
      .nav-button(@size);
      .position(absolute, 50%, auto, auto, 0);
      margin-top: (@size / -2);
      z-index: 24;
      opacity: 0.75;
      transition: 0.5s;
    }
    > .next {
      .nav-button(@size);
      .position(absolute, auto, auto, 0, 50%);
      margin-left: (@size / -2);
      &.is-disabled {
        display: none;
      }
    }
    > .prev {
      .nav-button(@size);
      .position(absolute, 0, auto, auto, 50%);
      margin-left: (@size / -2);
      &.is-disabled {
        display: none;
      }
    }
    > .enter {
      .nav-button(@size);
      .position(absolute, 50%, auto, auto, 0);
      margin-top: (@size / -2);
      z-index: 0;
      opacity: 0;
      transition: 0.5s;
    }
  }
}
