@import "./entry-list";
@import "./entry-detail";
@import "./nav";
.app() {
  width: 100vw;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  display: flex;
  &.is-menu {
    > .entry-list {
      width: 80%;
      color: rgba(244, 247, 242, 1);
    }
    > .entry-detail {
      width: 20%;
      color: rgba(244, 247, 242, 0.5);
    }
  }
  > .entry-list {
    .entry-list();
  }
  > .entry-detail {
    .entry-detail();
  }
  > .nav {
    .nav();
  }
}
